.burger-button-menu {
  display: none;
  position: relative;
  @include reset-button;
  @include square(46px);
  border-radius: 10px;
  
  @include hover {
    background-color: var(--color-accent);
  }
  &::after {
    @include abs-center;
    content: "";
    width: 70%;
    height: 2px;
    background-color: var(--color-black);
    border-radius: 10px;
    box-shadow: 0 -8px, 0 8px;
  }
  @include tablet {
    display: block;
  }
}
