.button {
  @include reset-button;
  box-sizing: border-box;
  position: relative;
  height: var(--button-height);
  width: var(--button-width);
  border-radius: var(--border-radius-small);
  background-color: var(--color-accent);
  color: var(--color-white);
  font-family: "Ubuntu";
  font-weight: 700;
  text-transform: uppercase;
  @include hover {
    // background-color: transparent;
    // color: var(--color-black);
    border: 1px solid var(--color-white);
  }
}
