html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-white: #fff;
  --color-base: #787a80;
  --color-accent: #ff5a30;
  --color-black: #1e212c;
  --color-grey: #424551;
  --color-border: #d7dadd;
  --font-family-base: "Ubuntu";
  --border: 1px solid var(--color-border);
  --container-width: 1230px;
  --container-padding-x: 32px;
  --container-padding-y: 120px;
  --input-height: 44px;
  --button-height: 52px;
  --button-width: 224px;
  --border-radius: 12px;
  --border-radius-small: 4px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .mobile-hidden {
    display: none !important;
  }
}

@media (min-width: 1023px) {
  .visible-tablet {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.change-color {
  color: var(--color-accent);
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.28;
  color: var(--color-white);
}

a,
button,
textarea,
input,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  padding: 0;
  background: transparent;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  height: var(--button-height);
  width: var(--button-width);
  border-radius: var(--border-radius-small);
  background-color: var(--color-accent);
  color: var(--color-white);
  font-family: "Ubuntu";
  font-weight: 700;
  text-transform: uppercase;
}
@media (hover: hover) {
  .button:hover {
    border: 1px solid var(--color-white);
  }
}
@media (hover: none) {
  .button:active {
    border: 1px solid var(--color-white);
  }
}

.burger-button-menu {
  position: relative;
  border-radius: var(--border-radius);
  padding: 0;
  background: transparent;
  border: none;
  width: 46px;
  aspect-ratio: 1;
}
@media (hover: hover) {
  .burger-button-menu:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .burger-button-menu:active {
    background-color: var(--color-accent);
  }
}
.burger-button-menu::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 70%;
  height: 2px;
  background-color: var(--color-black);
  border-radius: 10px;
  -webkit-box-shadow: 0 -8px, 0 8px;
          box-shadow: 0 -8px, 0 8px;
}

.header {
  padding-block: 20px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-grey);
}
@media (max-width: 1024px) {
  .header__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
  }
}
.header__logo {
  position: relative;
}
@media (hover: hover) {
  .header__logo:hover {
    scale: 1.2;
    -webkit-transition-duration: var(--transition-duration);
            transition-duration: var(--transition-duration);
  }
}
@media (hover: none) {
  .header__logo:active {
    scale: 1.2;
    -webkit-transition-duration: var(--transition-duration);
            transition-duration: var(--transition-duration);
  }
}
.header__menu {
  margin-left: 60px;
  margin-right: auto;
}
@media (max-width: 1280px) {
  .header__menu {
    margin-left: 40px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin-left: auto;
    margin-right: 0;
  }
}
.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
@media (max-width: 1280px) {
  .header__menu-list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 767px) {
  .header__menu-list {
    display: none;
  }
}
.header__menu-link {
  position: relative;
  height: 48px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 87%;
  left: 50%;
  translate: -50%;
  height: 2px;
  width: 0;
  background-color: black;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}
.header__actions-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 88px;
     -moz-column-gap: 88px;
          column-gap: 88px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1280px) {
  .header__actions-menu {
    -webkit-column-gap: 68px;
       -moz-column-gap: 68px;
            column-gap: 68px;
    padding-left: auto;
  }
}
@media (max-width: 1024px) {
  .header__actions-menu {
    padding-left: 40px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    row-gap: 10px;
  }
}
@media (max-width: 470px) {
  .header__actions-menu {
    padding-left: 50px;
  }
}
.header__actions-menu-item {
  position: relative;
}
@media (hover: hover) {
  .header__actions-menu-item:hover ::before {
    scale: 1.3;
    -webkit-transition-duration: var(--transition-duration);
            transition-duration: var(--transition-duration);
  }
}
@media (hover: none) {
  .header__actions-menu-item:active ::before {
    scale: 1.3;
    -webkit-transition-duration: var(--transition-duration);
            transition-duration: var(--transition-duration);
  }
}
.header__actions-menu-item .actions-menu__phone::before {
  content: "";
  background: url(/images/icones/phone-icone.svg) center no-repeat;
  width: 40px;
  aspect-ratio: 1;
  display: inline-block;
  position: absolute;
  top: 4px;
  left: -40px;
}
@media (max-width: 470px) {
  .header__actions-menu-item .actions-menu__phone::before {
    left: -50px;
  }
}
.header__actions-menu-item .actions-menu__email::before {
  content: "";
  background: url(/images/icones/chat-icone.svg) center no-repeat;
  width: 40px;
  aspect-ratio: 1;
  display: inline-block;
  position: absolute;
  top: 4px;
  left: -48px;
}
.header__actions-menu-title {
  font-weight: 700;
  display: block;
}
.header__actions-menu-link {
  color: var(--color-black);
  font-size: 18px;
  position: relative;
}
@media (hover: hover) {
  .header__actions-menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__actions-menu-link:active::after {
    width: 100%;
  }
}
.header__actions-menu-link::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 50%;
  translate: -50%;
  height: 2px;
  width: 0;
  background-color: black;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  padding: 39px 3px;
}
.mobile-overlay--body {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.mobile-overlay__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
  min-height: 80vh;
}

.cross-button {
  padding: 0;
  background: transparent;
  border: none;
  width: 40px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius);
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-accent);
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: var(--color-black);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.construction {
  background: url(/images/icones/bg-cran-image.jpg) center no-repeat;
  background-size: cover;
  padding-bottom: 120px;
}
.construction__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.construction__body-title {
  margin-block: 220px 24px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 72px;
  line-height: 93px;
}
.construction__body-discription {
  font-size: 20px;
  max-width: 595px;
  margin-bottom: 71px;
  line-height: 30px;
}
.construction__body-actions-link {
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 278px;
  border: 1px solid var(--color-white);
  height: var(--button-height);
  border-radius: var(--border-radius-small);
}
.construction__body-actions-link, .construction__body-actions-link:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .construction__body-actions-link:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .construction__body-actions-link:active {
    background-color: var(--color-accent);
  }
}
/*# sourceMappingURL=styles.css.map */